*, *:before, *:after {
  box-sizing: border-box;
}

.container{
	max-width: 400px;
	margin: 0 auto;

}

#game-wrapper .container{
	background: rgb(242, 241, 239);
	height: 644px; /* canvas + infobar */
}

body{
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

#start-page{
	background: #f1c40f;
	height: 600px;
	width: 400px;
	position: relative;
	margin: 40px 0;
}

.startPageForm{
	text-align: center;
	color: #000;
}
.button{
	padding: 20px;
	font-size: 20px;
	border: 0;
	background: #8e44ad;
	color: white;
}
.game-title{
	font-family: 'Walter Turncoat', cursive;
	font-size: 66px;
	padding: 60px 0;
	margin: 0;
}
.level-select{
	padding: 20px 0;
}
.level-select span{

}
.high-score{
	padding: 20px;
}
.high-score > div{
	position: relative;
	font-size: 40px;
	text-shadow: 2px 2px 3px #696969;
	animation: pulse 1s linear infinite;
}

@keyframes pulse{
	from { transform: scale(1); }
	50% { transform: scale(1.5); }
	to { transform: scale(1); }
}

.pulse-once{
	animation: pulse 1s linear;	
}
#info-bar {
	display: -webkit-flex;
	display: flex;
	background-color: #8e44ad;
	color: white;
	
	width: 400px;
	padding: 10px;

}
#timer, #pause-play, #score{
	flex: 1;
}
#pause-play{ text-align: center; cursor: pointer;}
#score{ text-align: right; }

.hide{
	display: none;
}

.pop-up{
	font-family: Verdana, sans-serif;
	background: #f1c40f;
	text-align: center;

    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	/* center*/
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

.slowly-disappear{
	opacity: 0 !important;
	transition: opacity 1s ease;
}

#intro-pop-up{
	opacity: 1;
	height: 100px;
}
#pop-up h1{
	font-family: 'Walter Turncoat', cursive;

}